<div class="modal">
    <div class="modal-container">
        <div class="modal-content">
            <div class="header">
                <div class="row1">{{ modalData.flightNumber }} Registration</div>
                <div class="row2">{{ modalData.scheduledDate | date:"dd/MM/yy - hh:mm" }}</div>
                <img src="../../../assets/img/close.png" alt="Close the window" (click)="closeModalEmit()">
            </div>
            <div class="center">
                <label>Registration</label>
                <input type="text"
                       class="registration-input bold"
                       [(ngModel)]="registrationSearch"
                       (ngModelChange)="toggleSearchBox()"
                       (keyup)="searchName()"
                       (blur)="showSearchBox = false"
                       autofocus>
                <div class="dropdown">
                    <div class="option-header" *ngIf="showSearchBox"><span class="bold">REGISTRATION</span>
                        ({{ autocompleteOptions.length }})
                    </div>
                    <div class="options" *ngIf="showSearchBox">
                        <div class="option" *ngFor="let option of autocompleteOptions">
                            <span class="bold">{{ option | slice:0:registrationSearch.length }}</span>{{ option | slice:registrationSearch.length | uppercase }}
                        </div>
                    </div>
                </div>

            </div>
            <div class="footer">
                <div class="button cancelButton" (click)="closeModalEmit()">CANCEL</div>
                <div class="button saveButton" (click)="resultToSave(registrationSearch, modalData)">SAVE</div>
            </div>
        </div>
    </div>
</div>
