input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.modal-container {
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.85);
    display:flex;
    justify-content: center;
}

.modal-content {
    position: fixed;
    top: 0;
    width: 359px;
    height: 230px;
    background-color: #d8d8d8
}

.header{
    height: 47px;
    background-color: #d8d8d8;
    padding-top: 14px;
    padding-left: 75px;
}

.header .row1{
    font-family: 'Source Sans Pro Bold';
    font-size: 21px;
    /*font-weight: bold;*/
    color: #000;
}

.header .row2{
    font-size: 12px;
    color: #000;
    margin-top: 5px;
}

.header img{
    width:22px;
    height: 22px;
    position: absolute;
    right: 27px;
    top: 13px;
}

.center{
    width: 301px;
    height: 108px;
    background-color: #f0f0f0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.center label{
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 2px;
    display: block;
}

.center .registration-input{
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #d8d8d8;
    background-color: #f0f0f0;
    height: 37px;
    margin-left: 25px;
    margin-right: 25px;
    width: 251px;
}

.center .registration-input:focus{
    border: 2px solid #18abf4!important;
}

.center .option-header{
    background-color: #d8d8d8;
    width: 251px;
    height: 30px;
    line-height: 30px;
    margin-left: 25px;
    border-left:2px solid #18abf4;
    border-right:2px solid #18abf4;
}

span.bold{
    font-family: 'Source Sans Pro';
    font-weight: bolder;
}

.options{
        border-left: 2px solid #18abf4;
        border-right: 2px solid #18abf4;
        border-bottom: 2px solid #18abf4;
        background-color: #f0f0f0;
        margin-left: 25px;
        margin-right: 25px;
        width: 251px;
        height: 267px;
        overflow: auto;
        position: fixed;
        z-index: 999;
}

.option {
    height: 37px;
    line-height: 37px;
    /*font-size: 14px;*/
    border-bottom: 1px solid #d8d8d8;
}

.footer{
    padding-top: 11px;
    padding-left: 49px;
    width: 310px;
    height: 61px;
    background-color: #d8d8d8;
}

.button{
    width: 118px;
    height: 36px;
    border: 2px solid #18abf4;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 36px;
    float: left;
}

.cancelButton{
    color: #18abf4;
}

.saveButton{
    margin-left: 9px;
    color: white;
    background-color: #52c0f7;
}
