<grid-header
    [headers]="sampleHeaders"
></grid-header>
<div *ngIf="rows">
    <data-row *ngFor="let row of rows" (openModal)="openModalWindow($event)"
        [row]="row"
    >
    </data-row>
</div>
